
  <div class="container main-container-banner">
    <div class="text-center">
      <%= image_tag "planeo.png", class: "banner-logo" %>
      <h1 class="text-white banner-text font-weight-lighter">Planning with Friends</h1>
      <h1 class="text-white banner-text mb-5">Made Easy</h1>
      <%= link_to "Get Started", new_user_registration_path, class: "primary-button" %>
    </div>
  </div>
