.custom-group-card {
  overflow: hidden;
  background: white;
  border-radius: 3px;
  height: 100px;
  padding: 1rem;
  align-items: center;
  transition: box-shadow 1s ease;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  &:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  }
  &-info {
    padding: 6% 0;
  }
  p {
    margin: 0;
    font-size: 0.7rem;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: rgb(100, 100, 100);
    text-indent: 0.03em;
    text-decoration: none;
  }
  h2 {
    margin: 0;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 3px;
    text-decoration: none;
  }
  img {
    position: relative;
    margin: 0 3%;
    height: 80px;
    width: 80px;
    border-radius: 50%;
  }
}
a {
  color: inherit;
  &:hover {
    text-decoration: none;
    color: inherit;
  }

  .imagen {
    position: relative;
  }
.notificationa {
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.6);
  z-index: 1;
  top: 1px;
  right: 16px;
  position: absolute;
  p {
    color: white;
    font-weight: bold;
  }
  padding: 0.7px 4px;
  border-radius: 50%;
  margin: 0;
  background-color: #FB4B4E;
}
}

.main-container {
  max-width: 800px;
}

.main-container-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.group-photos {
  flex-wrap: wrap;
  .photos {
    box-shadow: 1px 1px 10px rgba(black, 0.1);
    transition: transform 0.2s ease;
    &:hover {
      transform: translateY(-0.5rem);
      ~ .photos {
          transform: translateX(0.8rem);
      }
    }
  }
  .photos:not(:first-child) {
    margin-left: -0.8rem;
  }

}

